[viewBag]

==
<footer class="main-footer">
    <div class="footer-left">
        Copyright &copy; 2020 All Right Reserved
    </div>
    <div class="footer-right">
    	E-SDM Polres Pulang Pisau
    </div>
</footer>
