<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
        <ul class="sidebar-menu mt-3">
            <li class="menu-header">Menu Utama</li>
            <li class="{{ this.page.activePage == 'admin-dashboard' ? 'active' : '' }}">
                <a href="{{ 'home'|page }}" class="nav-link"><i class="fas fa-tachometer-alt"></i> <span>Dashboard</span></a>
            </li>
            <li class="{{ this.page.activePage == 'admin-print' ? 'active' : '' }}">
                <a href="{{ 'print/index'|page }}" class="nav-link"><i class="fas fa-print"></i> <span>Cetak</span></a>
            </li>
            <li class="{{ this.page.activePage == 'admin-member' ? 'active' : '' }}">
                <a href="{{ 'member/index'|page }}" class="nav-link"><i class="fas fa-id-card"></i> <span>Anggota</span></a>
            </li>
            {# <li class="{{ this.page.parentPage == 'partner' ? 'active' : '' }} dropdown">
                <a href="#" class="nav-link has-dropdown">
                    <i class="fas fa-bezier-curve"></i> <span>Mitra</span>
                </a>
                <ul class="dropdown-menu">
                    <li class="{{ this.page.activePage == 'partner' ? 'active': '' }}">
                        <a class="nav-link" href="{{ 'partner/index'|page }}">Daftar Mitra</a>
                    </li>
                    <li class="{{ this.page.activePage == 'partner-category' ? 'active': '' }}">
                        <a class="nav-link" href="{{ 'partner-category/index'|page }}">Kategori</a>
                    </li>
                </ul>
            </li> #}

            <li class="menu-header">Master Data</li>
            <li class="{{ this.page.activePage == 'admin-letter' ? 'active' : '' }}">
                <a href="{{ 'letter/index'|page }}" class="nav-link"><i class="fas fa-database"></i> <span>Formulir</span></a>
            </li>

            <li class="menu-header">Akun Saya</li>
            <li  class="{{ this.page.activePage == 'account-password' ? 'active' : '' }}">
                <a href="{{ 'account/password'|page }}" class="nav-link"><i class="fas fa-lock"></i> <span>Ubah Password</span></a>
            </li>
            <li>
                <a href="#" class="nav-link" data-request="onLogout" data-attach-loading data-request-flash><i class="fas fa-sign-out-alt"></i> <span>Keluar</span></a>
            </li>
        </ul>
        {# <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
            <a href="#" class="btn btn-primary btn-lg btn-block btn-icon-split">
                <i class="fas fa-clipboard"></i> Audit Asset
            </a>
        </div> #}
    </aside>
</div>
