title     = "Statistik"
url       = "/stat"
layout    = "blank"
is_hidden = 0

[BaseStatistic]
==
<h1 class="text-center mg-b-20">
    STATISTIK DATA SDM
</h1>

<ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">DASAR</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">LAMPIRAN</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">UTAMA</a>
    </li>
    {# <li class="nav-item">
        <a class="nav-link" id="section-tab" data-toggle="tab" href="#section" role="tab" aria-controls="section" aria-selected="false">STRUKTURAL</a>
    </li> #}
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        {% partial 'stat/personal' %}
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        {% partial 'stat/attachment' %}
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        {% partial 'stat/primary' %}
    </div>
    {# <div class="tab-pane fade" id="section" role="tabpanel" aria-labelledby="section-tab">
        {% partial 'stat/section' %}
    </div> #}
</div>
