<div class="form-group">
    <label>Nama</label>
    <input type="text" name="name" class="form-control" value="{{ letter.name }}">
</div>

<div class="form-group">
    <label>Surat</label>
    {% component 'letterUploader' %}
</div>
