<table class="table table-bordered">
	<tr>
		<td>Nama Lengkap</td>
		<td class="text-right">{{ member.name }}</td>
	</tr>
	<tr>
		<td>No. Telepon</td>
		<td class="text-right">{{ member.phone }}</td>
	</tr>
</table>
