<form data-request="onFilter"
    data-request-update="'print/list-member': '[data-target-members]'"
    data-request-success="$('#modalFilter').modal('hide'); initDatatable(); initCheckboxGroup()"
    data-request-flash>

    {% if component_personal|length %}
    <div class="card card-primary">
        <div class="card-header">
            <h4>FORMULIR PERSONAL</h4>
        </div>
        <div class="card-body">
            {% for component in component_personal %}
                {% set component = component|stringArray %}
                {% partial 'print/form-filter-item' component=component %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if component_attachment|length %}
    <div class="card card-primary">
        <div class="card-header">
            <h4>FORMULIR LAMPIRAN</h4>
        </div>
        <div class="card-body">
            {% for component in component_attachment %}
                {% set component = component|stringArray %}
                {% partial 'print/form-filter-item' component=component %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if component_primary %}
    <div class="card card-primary">
        <div class="card-header">
            <h4>FORMULIR UTAMA</h4>
        </div>
        <div class="card-body">
            {% for component in component_primary %}
                {% set component = component|stringArray %}
                {% partial 'print/form-filter-item' component=component %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if not component_personal or not component_attachment or not component_primary %}
    <div class="form-group mg-b-0">
        <label></label>
        <select class="form-control select2">
            <option value="">-- Tampilkan Semua --</option>
        </select>
    </div>
    {% endif %}
    <div class="form-group">
        <label></label>
        <button class="btn btn-primary btn-block" data-attach-loading>TERAPKAN</button>
    </div>
</form>
