{% if component[0] == 'name' %}
<div class="card">
    <div class="card-header">
        <h4>Berdasarkan {{ component[1] }}</h4>
    </div>
    <div class="card-body">
        {% partial 'print/item-contain' component=component %}
    </div>
</div>

{% elseif component[0] == 'nrp' %}
<div class="card">
    <div class="card-header">
        <h4>Berdasarkan {{ component[1] }}</h4>
    </div>
    <div class="card-body">
        {% partial 'print/item-contain' component=component %}
    </div>
</div>

{% elseif component[0] == 'gender' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            <div class="form-group">
                <select name="gender" class="form-control">
                    <option value="">-- Pilih --</option>
                    <option value="male">Pria</option>
                    <option value="female">Wanita</option>
                </select>
            </div>
        </div>
    </div>
{% elseif component[0] == 'place' %}
<div class="card">
    <div class="card-header">
        <h4>Berdasarkan {{ component[1] }}</h4>
    </div>
    <div class="card-body">
        {% partial 'print/item-contain' component=component %}
    </div>
</div>
{% elseif component[0] == 'dob' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            {% partial 'print/item-contain' component=component %}
        </div>
    </div>
{% elseif component[0] == 'blood' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            {% partial 'print/item-contain' component=component %}
        </div>
    </div>
{% elseif component[0] == 'religion' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            {% partial 'print/item-contain' component=component %}
        </div>
    </div>
{% elseif component[0] == 'marital' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            {% partial 'print/item-contain' component=component %}
        </div>
    </div>
{% elseif component[0] == 'nationality' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            {% partial 'print/item-contain' component=component %}
        </div>
    </div>
{% elseif component[0] == 'skin_color' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            {% partial 'print/item-contain' component=component %}
        </div>
    </div>
{% elseif component[0] == 'hair_color' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            {% partial 'print/item-contain' component=component %}
        </div>
    </div>
{% elseif component[0] == 'hair_type' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            {% partial 'print/item-contain' component=component %}
        </div>
    </div>
{% elseif component[0] == 'child_total' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            {% partial 'print/item-child' component=component %}
        </div>
    </div>
{% elseif component[0] == 'height' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            {% partial 'print/item-height' component=component %}
        </div>
    </div>
{% elseif component[0] == 'weight' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            {% partial 'print/item-weight' component=component %}
        </div>
    </div>
{% elseif component[0] == 'uniform_head' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            {% partial 'print/item-uniform-head' component=component %}
        </div>
    </div>
{% elseif component[0] == 'uniform_clothes' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            {% partial 'print/item-uniform-clothes' component=component %}
        </div>
    </div>
{% elseif component[0] == 'uniform_trousers' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            {% partial 'print/item-uniform-trousers' component=component %}
        </div>
    </div>
{% elseif component[0] == 'uniform_feet' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            {% partial 'print/item-uniform-feet' component=component %}
        </div>
    </div>

{% elseif component[0] == 'ktp' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            {% partial 'print/item-contain' component=component %}
        </div>
    </div>
{% elseif component[0] == 'kk' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            {% partial 'print/item-contain' component=component %}
        </div>
    </div>
{% elseif component[0] == 'finger' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            {% partial 'print/item-contain' component=component %}
        </div>
    </div>
{% elseif component[0] == 'asabri' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            {% partial 'print/item-contain' component=component %}
        </div>
    </div>
{% elseif component[0] == 'authority' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            {% partial 'print/item-contain' component=component %}
        </div>
    </div>
{% elseif component[0] == 'investigator' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            {% partial 'print/item-contain' component=component %}
        </div>
    </div>
{% elseif component[0] == 'member' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            {% partial 'print/item-contain' component=component %}
        </div>
    </div>
{% elseif component[0] == 'bpjs' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            {% partial 'print/item-contain' component=component %}
        </div>
    </div>
{% elseif component[0] == 'kps' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            {% partial 'print/item-contain' component=component %}
        </div>
    </div>
{% elseif component[0] == 'simsa' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            {% partial 'print/item-contain' component=component %}
        </div>
    </div>


{% elseif component[0] == 'language' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan {{ component[1] }}</h4>
        </div>
        <div class="card-body" data-target-languages>
            {% partial 'print/item-language' component=component %}
        </div>
    </div>
{% elseif component[0] == 'sport' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            {% partial 'print/item-sport' component=component %}
        </div>
    </div>
{% elseif component[0] == 'honor' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            {% partial 'print/item-honor' component=component %}
        </div>
    </div>
{% elseif component[0] == 'education' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan Tingkat {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            {% partial 'print/item-education' component=component %}
        </div>
    </div>
{% elseif component[0] == 'education_polri' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan Tingkat {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            {% partial 'print/item-education-polri' component=component %}
        </div>
    </div>
{% elseif component[0] == 'education_dikbangspes' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan Tingkat {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            {% partial 'print/item-education-dikbangspes' component=component %}
        </div>
    </div>
{% elseif component[0] == 'training' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan Tingkat {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            {% partial 'print/item-training' component=component %}
        </div>
    </div>
{% elseif component[0] == 'duty' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan Tingkat {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            {% partial 'print/item-duty' component=component %}
        </div>
    </div>
{% elseif component[0] == 'position' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan Tingkat {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            {% partial 'print/item-position' component=component %}
        </div>
    </div>
{% elseif component[0] == 'grade' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan Tingkat {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            {% partial 'print/item-grade' component=component %}
        </div>
    </div>
{% elseif component[0] == 'work' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan Tingkat {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            {% partial 'print/item-work' component=component %}
        </div>
    </div>
{% elseif component[0] == 'brivet' %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan Tingkat {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            {% partial 'print/item-brivet' component=component %}
        </div>
    </div>
{% else %}
    <div class="card">
        <div class="card-header">
            <h4>Berdasarkan {{ component[1] }}</h4>
        </div>
        <div class="card-body">
            <div class="form-group mg-b-0">
                <input type="text" class="form-control" name="{{ component[0] }}">
            </div>
        </div>
    </div>
{% endif %}
