<div class="row">
    <div class="col">
        <div class="form-group">
            <label>Batas Bawah</label><small class="text-muted"> (yyyy-mm-dd)</small>
            <input type="text" class="form-control" name="dob_start">
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label>Batas Atas</label><small class="text-muted"> (yyyy-mm-dd)</small>
            <input type="text" class="form-control" name="dob_end">
        </div>
    </div>
</div>
