<div class="row">
   <div class="col">
        <div class="form-group">
            <select name="{{ component[0] }}[]" class="form-control select2" multiple>
                {% for honor in honors %}
                <option value="{{ honor.name }}">{{ honor.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
