<div class="row">
    <div class="col">
        <div class="form-group">
            <label>Tanda</label>
            <select name="{{ component[0] }}_logic" class="form-control">
                <option value="same">Sama Dengan</option>
                <option value="in">Mengandung</option>
            </select>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label>Nilai</label>
            <input type="text" class="form-control" name="{{ component[0] }}">
        </div>
    </div>
</div>
