<div class="row">
    <div class="col">
        <div class="form-group">
            <label>Tanda</label>
            <select name="uniform_head_logic" class="form-control">
                <option value="same">Sama Dengan</option>
                <option value="grather">Lebih Dari</option>
                <option value="lower">Kurang Dari</option>
            </select>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label>Nilai</label>
            <input type="text" class="form-control" name="{{ component[0] }}">
        </div>
    </div>
</div>
