<div class="row">
    <div class="col">
        <div class="form-group">
            <label>Nama {{ component[1] }}</label>
            <select name="{{ component[0] }}[]" class="form-control select2" multiple>
                {% for duty in duties %}
                <option value="{{ duty.name }}">{{ duty.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
