<div class="row">
    <div class="col">
        <div class="form-group">
            <label>Nama {{ component[1] }}</label>
            <select name="{{ component[0] }}[]_polri" class="form-control select2" multiple>
                {% for educationPolri in educationPolries %}
                <option value="{{ educationPolri.name }}">{{ educationPolri.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label>Tempat</label>
            <input type="text" class="form-control" name="{{ component[0] }}_polri_place">
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label>Hasil</label>
            <select name="{{ component[0] }}_polri_result" class="form-control">
                <option value="">-- Pilih --</option>
                <option value="1">Lulus</option>
                <option value="0">Tidak Lulus</option>
            </select>
        </div>
    </div>
</div>
