<div class="row">
    <div class="col">
        <div class="form-group">
            <label>Jenis {{ component[1] }}</label>
            <select name="{{ component[0] }}[]" class="form-control select2" multiple>
                {% for brivet in brivets %}
                <option value="{{ brivet.name }}">{{ brivet.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
