<div class="row" data-target-language>
    <div class="col">
        <div class="form-group">
            <label>Berdasarkan {{ component[1] }}</label>
            <select name="{{ component[0] }}[]" class="form-control select2" multiple>
                {% for language in languages %}
                <option value="{{ language.name }}">{{ language.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label>Nilai {{ component[1] }}</label>
            <select name="{{ component[0] }}_result" class="form-control">
                <option value="">-- Pilih --</option>
                <option value="active">Aktif</option>
                <option value="passive">Pasif</option>
            </select>
        </div>
    </div>
</div>
