<div class="row">
    <div class="col">
        <div class="form-group">
            <label>Nama {{ component[1] }}</label>
            <select name="{{ component[0] }}[]" class="form-control select2" multiple>
                {% for training in trainings %}
                <option value="{{ training.name }}">{{ training.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label>Hasil</label>
            <select name="{{ component[0] }}_result" class="form-control">
                <option value="1">Lulus</option>
                <option value="0">Tidak Lulus</option>
            </select>
        </div>
    </div>
</div>
