<div class="row">
   <div class="col">
        <div class="form-group">
            <select name="{{ component[0] }}[]" class="form-control select2" multiple>
                {% for sport in sports %}
                <option value="{{ sport.name }}">{{ sport.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
