<div class="row">
    <div class="col">
        <div class="form-group">
            <label>Nama Operasi</label>
            <select name="{{ component[0] }}[]" class="form-control select2" multiple>
                {% for work in works %}
                <option value="{{ work.name }}">{{ work.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
