<div class="row">
    <div class="col">
        <div class="form-group">
            <label>Tingkat {{ component[1] }}</label>
            <select name="{{ component[0] }}" id="" class="form-control select2" multiple>
                {% for education in educations %}
                <option value="{{ education.id }}">{{ education.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label>Jurusan {{ component[1] }}</label>
            <select name="{{ component[0] }}_study" class="form-control select2" multiple>
                {% for study in educationStudies %}
                <option value="{{ study.study }}">{{ study.study }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
