<div class="row">
    <div class="col">
        <div class="form-group">
            <label>{{ component[1] }}</label>
            <select name="{{ component[0] }}[]" class="form-control select2" multiple>
                {% for position in positions %}
                <option value="{{ position.id }}">{{ position.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
