{% if members|length %}
<table class="table mg-b-0">
    <thead>
        <tr>
            <th>NRP</th>
            <th>Nama</th>
            <th>Jabatan</th>
            <th>Pangkat</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for key, member in members %}
        <input type="hidden" name="member[]" value="{{ member.id }}">
        <tr id="list{{key}}">
            <td>{{ member.nrp }}</td>
            <td>{{ member.name }}</td>
            <td>{{ member.getCurrentPosition() ? member.getCurrentPosition().position.name : 'Tidak ada data' }}</td>
            <td>{{ member.getCurrentGrade() ? member.getCurrentGrade().parent.code : 'Tidak ada data' }}</td>
            <td>
                <button class="btn btn-danger btn-sm"
                    data-request="onRemoveList"
                    data-request-success="$('#list{{key}}').remove()"
                    data-request-confirm="Hapus anggota ini dari daftar cetak?">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pd-20">
    <div class="form-group">
        <label></label>
        <button class="btn btn-primary btn-block" type="submit" data-attach-loading>BUAT CETAKAN</button>
    </div>
</div>
{% else %}
<div class="pd-20">
    <p class="mg-b-0">
        Tidak ada ada data ditemukan.
    </p>
</div>
{% endif %}
