{% if members|length %}
<table class="table datatable mg-b-0">
    <tfoot>
        <tr>
            <th class="hidden-search"></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th class="hidden-search"></th>
        </tr>
    </tfoot>

	<thead>
		<tr>
			<th style="width: 20px" class="pd-10">
				<div class="custom-checkbox custom-control">
					<input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad" class="custom-control-input" id="checkbox-all">
					<label for="checkbox-all" class="custom-control-label"></label>
				</div>
			</th>
			<th>NRP</th>
			<th>Nama</th>
			<th>Jabatan</th>
			<th>Pangkat</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		{% for key, member in members %}
	    <tr>
	    	<td>
				<div class="custom-checkbox custom-control">
				<input type="checkbox" name="member[]" value="{{ member.id }}" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-{{ key }}">
				<label for="checkbox-{{ key }}" class="custom-control-label"></label>
				</div>
	    	</td>
	        <td>{{ member.nrp }}</td>
	        <td>{{ member.name }}</td>
	        <td>{{ member.getCurrentPosition() ? member.getCurrentPosition().position.name : 'Tidak ada data' }}</td>
	        <td>{{ member.getCurrentGrade() ? member.getCurrentGrade().parent.code : 'Tidak ada data' }}</td>
	        <td>
	        	<div class="dropdown">
        	  		<button class="btn btn-outline-primary btn-sm btn-round dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	        	    	PILIHAN
	        	  	</button>
	        	  	<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
		        	    <a class="dropdown-item" href="#"
		        	    	data-request="onViewRH"
		        	    	data-request-data="'id': {{ member.id }}"
		        	    	data-request-update="'print/block-rh': '[data-target-rh]'"
		        	    	data-request-success="$('#modalRH').modal('show')">Lihat Riwayat Hidup</a>
	        	  	</div>
	        	</div>
	        </td>
	    </tr>
	    {% endfor %}
	</tbody>
</table>
{% else %}
<div class="pd-20">
	<p class="mg-b-0">
	    Tidak ada ada data ditemukan.
	</p>
</div>
{% endif %}
