url       = "master/letter/add"
layout    = "default"
is_hidden = 0

[AdminLetter]
==
function onInit() {
    $component = $this->addComponent(
        'Responsiv\Uploader\Components\FileUploader',
        'letterUploader',
        ['deferredBinding' => false]
    );

    $component->bindModel('document', new \Sdm\Letter\Models\Letter);
}
function onEnd() {
    $this->page->activePage = 'admin-letter';
    $this->page->title      = 'Buat Master Surat';
}
==
<div class="mg-b-20">
    {% partial 'button-back' page='letter/index'|page %}
</div>
<div class="card">
    <div class="card-body">
        {{ form_ajax('onSave', {'data-request-flash': ''}) }}
            {% partial 'letter/form' %}
            <div class="form-group">
                <label></label>
                <button class="btn btn-primary btn-block" type="submit" data-attach-loading>SIMPAN</button>
            </div>
        {{ form_close() }}
    </div>
</div>
