url       = "master/letter/edit/:parameter"
layout    = "default"
is_hidden = 0

[AdminLetterDetail]
parameter="{{ :parameter }}"
==
function onEnd() {
    $this->page->activePage = 'admin-letter';
    $this->page->title      = 'Ubah Master Surat';
}
==
<div class="mg-b-20">
    {% partial 'button-back' page='letter/index'|page %}
</div>
<div class="card">
    <div class="card-body">
        {{ form_ajax('onSave', {'data-request-flash': ''}) }}
            {% partial 'letter/form' %}
            <div class="form-group">
                <label></label>
                <button class="btn btn-primary btn-block" type="submit" data-attach-loading>SIMPAN</button>
            </div>
        {{ form_close() }}
    </div>
</div>
