url       = "master/letter"
layout    = "default"
is_hidden = 0

[AdminLetter]
==
function onInit() {
	$component = $this->addComponent(
        'Responsiv\Uploader\Components\FileUploader',
        'letterUploader',
        ['deferredBinding' => false]
    );

    $component->bindModel('document', new \Sdm\Letter\Models\Letter);
}
function onEnd() {
	$this->page->activePage = 'admin-letter';
	$this->page->title 		= 'Master Surat';
}
==
{% set letters = AdminLetter.getAll() %}
<div class="card">
    <div class="card-header">
        <div class="ml-auto">
            {% partial 'button-add' page='letter/add'|page %}
        </div>
    </div>
    <div class="card-body pd-0">
        <table class="table datatable">
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>

            <thead>
                <tr>
                    <th>Nama</th>
                    <th>Tipe</th>
                </tr>
            </thead>

            <tbody>
                {% for letter in letters %}
                <tr>
                    <td>
                        {{ letter.name }}
                        <div class="table-links">
                            <a href="{{ letter.document.path }}">Lihat</a>
                            <div class="bullet"></div>
                            <a href="{{ 'letter/edit'|page({parameter: letter.parameter}) }}">Ubah</a>
                        </div>
                    </td>
                    <td>{{ letter.document.content_type }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
