description = "Default layout"
[Auth]
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'head' %}

        {% styles %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="app">
            <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>

            {% partial 'header' %}

            {% partial 'sidebar' %}

            <div class="main-content">
                <section class="section">
                  <div class="section-header">
                    <h1>{{ this.page.title|upper }}</h1>
                    <div class="section-header-breadcrumb">
                        {% for b in breadcrumbs %}
                        <div class="breadcrumb-item {{ loop.last ? 'active' : '' }}">
                            {% if loop.last %}
                                {{ b.title }}
                            {% else %}
                                <a href="{{ b.url }}">{{ b.title }}</a>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                  </div>

                  {% page %}
                </section>
            </div>

            {% partial 'footer' %}
        </div>


        <script src="{{ [
            '@jquery',
            '@framework',
            '@framework.extras',

            'assets/modules/popper.js/dist/umd/popper.min.js',
            'assets/modules/tooltip.js/dist/umd/tooltip.min.js',
            'assets/modules/bootstrap/dist/js/bootstrap.min.js',
            'assets/modules/nicescroll/dist/jquery.nicescroll.min.js',
            'assets/modules/moment/min/moment.min.js',

            'assets/modules/bootstrap-daterangepicker/daterangepicker.js',
            'assets/modules/summernote/dist/summernote-bs4.js',
            'assets/modules/select2/dist/js/select2.full.min.js',
            'assets/modules/datatables/media/js/jquery.dataTables.js',
            'assets/modules/datatables.net-bs4/js/dataTables.bootstrap4.js',
            'assets/modules/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js',
            'assets/modules/cleave.js/dist/cleave.min.js',
            'assets/modules/chart.js/dist/Chart.js',

            'assets/js/stisla.js',

            'assets/js/scripts.js',
            'assets/js/custom.js',

            'assets/js/app.js']|theme }}"></script>

        {% scripts %}

        {% partial 'tracker' %}

        {% partial 'flash' %}

    </body>
</html>
