url       = "/member"
layout    = "default"
is_hidden = 0

==
function onEnd() {
	$this->page->activePage = 'admin-member';
	$this->page->title 		= 'Daftar Anggota';
}
==
<div class="card">
	<div class="card-header">
		<div class="ml-auto">
			<button class="btn btn-primary">
				<i class="fa fa-plus-circle"></i> BUAT DATA
			</button>
		</div>
	</div>

	<div class="card-body">
		<table class="table">
			<thead>
				<tr>
					<th>NRP</th>
					<th>Nama Lengkap</th>
				</tr>
			</thead>

			<tbody>
				{% for i in 1..5 %}
				<tr>
					<td>14045</td>
					<td>Ihsan</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
