url       = "account/password"
layout    = "default"
is_hidden = 0

[AdminUser]
==
function onEnd() {
    $this->page->activePage = 'account-password';
    $this->page->title      = 'Ubah Password';
    $this['breadcrumbs']    = [
        [
            'title' => 'Dashboard',
            'url'   => '',
        ],[
            'title' => 'Akun Saya',
            'url'   => '#'
        ],[
            'title' => $this->page->title,
            'url'   => '#'
        ]
    ];
}
==
<div class="card">
    <div class="card-body">
        <form data-request="AdminUser::onUpdatePassword" data-request-flash>
            <div class="form-group">
                <label>Password Lama</label>
                <input type="password" class="form-control" name="password_old">
            </div>

            <hr>
            <div class="form-group">
                <label>Password Baru</label>
                <input type="password" class="form-control" name="password">
            </div>

            <div class="form-group">
                <label>Ulangi Password</label>
                <input type="password" class="form-control" name="password_retype">
            </div>

            <div class="form-group">
                <label>&nbsp;</label>
                <button class="btn btn-primary btn-block" type="submit" data-attach-loading>SIMPAN</button>
            </div>
        </form>
    </div>
</div>
