<!-- Foto -->
<div class="card card-primary">
    <div class="card-header">
        <h4>DATA LAMPIRAN FOTO</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="card card-inside">
                    <div class="card-body text-center">
                        <h1><span class="text-success">{{ memberAttachPicture.count }}</span> / <span class="text-muted">{{ allMember.count }}</span></h1>
                        <p class="lead text-muted mg-b-0">ANGKA TERHITUNG</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-inside">
                    <div class="card-body text-center">
                        {% set calc = (memberAttachPicture.count / allMember.count * 100)|floor %}
                        <h1 class="{{ calc <= 50 ? 'text-danger' : 'text-success' }}">{{ calc ~ '%'}}</h1>
                        <p class="lead text-muted mg-b-0">ANGKA PERSENTASI</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card card-inside">
                    <div class="card-header">
                        <h4>NRP ANGGOTA BELUM MELAMPIRKAN FOTO PADA APLIKASI</h4>
                    </div>
                    <div class="card-body">
                        <div class="badges">
                            {% for key, member in memberNonAttachPicture %}
                            <span class="badge badge-light">{{ member.name }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- KTP -->
<div class="card card-primary">
    <div class="card-header">
        <h4>DATA LAMPIRAN KTP</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="card card-inside">
                    <div class="card-body text-center">
                        <h1><span class="text-success">{{ memberAttachKtp.count }}</span> / <span class="text-muted">{{ allMember.count }}</span></h1>
                        <p class="lead text-muted mg-b-0">ANGKA TERHITUNG</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-inside">
                    <div class="card-body text-center">
                        {% set calc = (memberAttachKtp.count / allMember.count * 100)|floor %}
                        <h1 class="{{ calc <= 50 ? 'text-danger' : 'text-success' }}">{{ calc ~ '%'}}</h1>
                        <p class="lead text-muted mg-b-0">ANGKA PERSENTASI</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card card-inside">
                    <div class="card-header">
                        <h4>NRP ANGGOTA BELUM MELAMPIRKAN KTP PADA APLIKASI</h4>
                    </div>
                    <div class="card-body">
                        <div class="badges">
                            {% for key, member in memberNonAttachKtp %}
                            <span class="badge badge-light">{{ member.name }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- KTP -->
<div class="card card-primary">
    <div class="card-header">
        <h4>DATA LAMPIRAN NPWP</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="card card-inside">
                    <div class="card-body text-center">
                        <h1><span class="text-success">{{ memberAttachNpwp.count }}</span> / <span class="text-muted">{{ allMember.count }}</span></h1>
                        <p class="lead text-muted mg-b-0">ANGKA TERHITUNG</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-inside">
                    <div class="card-body text-center">
                        {% set calc = (memberAttachNpwp.count / allMember.count * 100)|floor %}
                        <h1 class="{{ calc <= 50 ? 'text-danger' : 'text-success' }}">{{ calc ~ '%'}}</h1>
                        <p class="lead text-muted mg-b-0">ANGKA PERSENTASI</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card card-inside">
                    <div class="card-header">
                        <h4>NRP ANGGOTA BELUM MELAMPIRKAN KTP PADA APLIKASI</h4>
                    </div>
                    <div class="card-body">
                        <div class="badges">
                            {% for key, member in memberNonAttachNpwp %}
                            <span class="badge badge-light">{{ member.name }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- kk -->
<div class="card card-primary">
    <div class="card-header">
        <h4>DATA LAMPIRAN KK</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="card card-inside">
                    <div class="card-body text-center">
                        <h1><span class="text-success">{{ memberAttachKk.count }}</span> / <span class="text-muted">{{ allMember.count }}</span></h1>
                        <p class="lead text-muted mg-b-0">ANGKA TERHITUNG</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-inside">
                    <div class="card-body text-center">
                        {% set calc = (memberAttachKk.count / allMember.count * 100)|floor %}
                        <h1 class="{{ calc <= 50 ? 'text-danger' : 'text-success' }}">{{ calc ~ '%'}}</h1>
                        <p class="lead text-muted mg-b-0">ANGKA PERSENTASI</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card card-inside">
                    <div class="card-header">
                        <h4>NRP ANGGOTA BELUM MELAMPIRKAN KK PADA APLIKASI</h4>
                    </div>
                    <div class="card-body">
                        <div class="badges">
                            {% for key, member in memberNonAttachKk %}
                            <span class="badge badge-light">{{ member.name }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- sidik jari -->
<div class="card card-primary">
    <div class="card-header">
        <h4>DATA LAMPIRAN SIDIK JARI</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="card card-inside">
                    <div class="card-body text-center">
                        <h1><span class="text-success">{{ memberAttachFinger.count }}</span> / <span class="text-muted">{{ allMember.count }}</span></h1>
                        <p class="lead text-muted mg-b-0">ANGKA TERHITUNG</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-inside">
                    <div class="card-body text-center">
                        {% set calc = (memberAttachFinger.count / allMember.count * 100)|floor %}
                        <h1 class="{{ calc <= 50 ? 'text-danger' : 'text-success' }}">{{ calc ~ '%'}}</h1>
                        <p class="lead text-muted mg-b-0">ANGKA PERSENTASI</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card card-inside">
                    <div class="card-header">
                        <h4>NRP ANGGOTA BELUM MELAMPIRKAN SIDIK JARI PADA APLIKASI</h4>
                    </div>
                    <div class="card-body">
                        <div class="badges">
                            {% for key, member in memberNonAttachFinger %}
                            <span class="badge badge-light">{{ member.name }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ASABRI -->
<div class="card card-primary">
    <div class="card-header">
        <h4>DATA LAMPIRAN ASABRI</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="card card-inside">
                    <div class="card-body text-center">
                        <h1><span class="text-success">{{ memberAttachAsabri.count }}</span> / <span class="text-muted">{{ allMember.count }}</span></h1>
                        <p class="lead text-muted mg-b-0">ANGKA TERHITUNG</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-inside">
                    <div class="card-body text-center">
                        {% set calc = (memberAttachAsabri.count / allMember.count * 100)|floor %}
                        <h1 class="{{ calc <= 50 ? 'text-danger' : 'text-success' }}">{{ calc ~ '%'}}</h1>
                        <p class="lead text-muted mg-b-0">ANGKA PERSENTASI</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card card-inside">
                    <div class="card-header">
                        <h4>NRP ANGGOTA BELUM MELAMPIRKAN ASABRI PADA APLIKASI</h4>
                    </div>
                    <div class="card-body">
                        <div class="badges">
                            {% for key, member in memberNonAttachAsabri %}
                            <span class="badge badge-light">{{ member.name }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- BPJS -->
<div class="card card-primary">
    <div class="card-header">
        <h4>DATA LAMPIRAN BPJS</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="card card-inside">
                    <div class="card-body text-center">
                        <h1><span class="text-success">{{ memberAttachBpjs.count }}</span> / <span class="text-muted">{{ allMember.count }}</span></h1>
                        <p class="lead text-muted mg-b-0">ANGKA TERHITUNG</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-inside">
                    <div class="card-body text-center">
                        {% set calc = (memberAttachBpjs.count / allMember.count * 100)|floor %}
                        <h1 class="{{ calc <= 50 ? 'text-danger' : 'text-success' }}">{{ calc ~ '%'}}</h1>
                        <p class="lead text-muted mg-b-0">ANGKA PERSENTASI</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card card-inside">
                    <div class="card-header">
                        <h4>NRP ANGGOTA BELUM MELAMPIRKAN BPJS PADA APLIKASI</h4>
                    </div>
                    <div class="card-body">
                        <div class="badges">
                            {% for key, member in memberNonAttachBpjs %}
                            <span class="badge badge-light">{{ member.name }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
