<!-- Total -->
<div class="card card-primary">
    <div class="card-header">
        <h4>DATA TERDAFTAR APLIKASI</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="card card-inside">
                    <div class="card-body text-center">
                        <h1><span class="text-success">{{ allMember.count }}</span> / <span class="text-muted">{{ allUser.count }}</span></h1>
                        <p class="lead text-muted mg-b-0">ANGKA TERHITUNG</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-inside">
                    <div class="card-body text-center">
                        {% set calc = (allMember.count / allUser.count * 100)|floor %}
                        <h1 class="{{ calc <= 50 ? 'text-danger' : 'text-success' }}">{{ calc ~ '%'}}</h1>
                        <p class="lead text-muted mg-b-0">ANGKA PERSENTASI</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card card-inside">
                    <div class="card-header">
                        <h4>NRP ANGGOTA BELUM MENDAFTAR PADA APLIKASI</h4>
                    </div>
                    <div class="card-body">
                        <div class="badges">
                            {% for key, user in allNonMember %}
                            <span class="badge badge-light">{{ user.code }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Diri -->
<div class="card card-primary">
    <div class="card-header">
        <h4>DATA DIRI</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="card card-inside">
                    <div class="card-body text-center">
                        <h1><span class="text-success">{{ memberSelf.count }}</span> / <span class="text-muted">{{ allMember.count }}</span></h1>
                        <p class="lead text-muted mg-b-0">ANGKA TERHITUNG</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-inside">
                    <div class="card-body text-center">
                        {% set calc = (memberAttachPicture.count / allMember.count * 100)|floor %}
                        <h1 class="{{ calc <= 50 ? 'text-danger' : 'text-success' }}">{{ calc ~ '%'}}</h1>
                        <p class="lead text-muted mg-b-0">ANGKA PERSENTASI</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card card-inside">
                    <div class="card-header">
                        <h4>NRP ANGGOTA BELUM MELENGKAPI DATA DIRI PADA APLIKASI</h4>
                    </div>
                    <div class="card-body">
                        <div class="badges">
                            {% for key, member in memberNonSelf %}
                            <span class="badge badge-light">{{ member.user.code }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
