<!-- DATA BAHASA -->
<div class="card card-primary">
    <div class="card-header">
        <h4>DATA PENGUASAAN BAHASA</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="card card-inside">
                    <div class="card-body text-center">
                        <h1><span class="text-success">{{ memberHaveLanguage.count }}</span> / <span class="text-muted">{{ allMember.count }}</span></h1>
                        <p class="lead text-muted mg-b-0">ANGKA TERHITUNG</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-inside">
                    <div class="card-body text-center">
                        {% set calc = (memberHaveLanguage.count / allMember.count * 100)|floor %}
                        <h1 class="{{ calc <= 50 ? 'text-danger' : 'text-success' }}">{{ calc ~ '%'}}</h1>
                        <p class="lead text-muted mg-b-0">ANGKA PERSENTASI</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card card-inside">
                    <div class="card-header">
                        <h4>NRP ANGGOTA BELUM MELENGKAPI DATA PENGUASAAN BAHASA PADA APLIKASI</h4>
                    </div>
                    <div class="card-body">
                        <div class="badges">
                            {% for key, member in memberNonHaveLanguage %}
                            <span class="badge badge-light">{{ member.name }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- DATA OLAHRAGA -->
<div class="card card-primary">
    <div class="card-header">
        <h4>DATA KEMAMPUAN OLAHRAGA</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="card card-inside">
                    <div class="card-body text-center">
                        <h1><span class="text-success">{{ memberHaveSport.count }}</span> / <span class="text-muted">{{ allMember.count }}</span></h1>
                        <p class="lead text-muted mg-b-0">ANGKA TERHITUNG</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-inside">
                    <div class="card-body text-center">
                        {% set calc = (memberHaveSport.count / allMember.count * 100)|floor %}
                        <h1 class="{{ calc <= 50 ? 'text-danger' : 'text-success' }}">{{ calc ~ '%'}}</h1>
                        <p class="lead text-muted mg-b-0">ANGKA PERSENTASI</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card card-inside">
                    <div class="card-header">
                        <h4>NRP ANGGOTA BELUM MELENGKAPI DATA KEMAMPUAN OLAHRAGA PADA APLIKASI</h4>
                    </div>
                    <div class="card-body">
                        <div class="badges">
                            {% for key, member in memberNonHaveSport %}
                            <span class="badge badge-light">{{ member.name }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- DATA PENDIDIKAN -->
<div class="card card-primary">
    <div class="card-header">
        <h4>DATA PENDIDIKAN UMUM</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="card card-inside">
                    <div class="card-body text-center">
                        <h1><span class="text-success">{{ memberHaveEducation.count }}</span> / <span class="text-muted">{{ allMember.count }}</span></h1>
                        <p class="lead text-muted mg-b-0">ANGKA TERHITUNG</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-inside">
                    <div class="card-body text-center">
                        {% set calc = (memberHaveEducation.count / allMember.count * 100)|floor %}
                        <h1 class="{{ calc <= 50 ? 'text-danger' : 'text-success' }}">{{ calc ~ '%'}}</h1>
                        <p class="lead text-muted mg-b-0">ANGKA PERSENTASI</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card card-inside">
                    <div class="card-header">
                        <h4>NRP ANGGOTA BELUM MELENGKAPI DATA PENDIDIKAN UMUM PADA APLIKASI</h4>
                    </div>
                    <div class="card-body">
                        <div class="badges">
                            {% for key, member in memberNonHaveEducation %}
                            <span class="badge badge-light">{{ member.name }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- DATA POLRI -->
<div class="card card-primary">
    <div class="card-header">
        <h4>DATA PENDIDIKAN POLRI</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="card card-inside">
                    <div class="card-body text-center">
                        <h1><span class="text-success">{{ memberHaveEducationDikbangspes.count }}</span> / <span class="text-muted">{{ allMember.count }}</span></h1>
                        <p class="lead text-muted mg-b-0">ANGKA TERHITUNG</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-inside">
                    <div class="card-body text-center">
                        {% set calc = (memberHaveEducationDikbangspes.count / allMember.count * 100)|floor %}
                        <h1 class="{{ calc <= 50 ? 'text-danger' : 'text-success' }}">{{ calc ~ '%'}}</h1>
                        <p class="lead text-muted mg-b-0">ANGKA PERSENTASI</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card card-inside">
                    <div class="card-header">
                        <h4>NRP ANGGOTA BELUM MELENGKAPI DATA PENDIDIKAN DIKBANGSPES PADA APLIKASI</h4>
                    </div>
                    <div class="card-body">
                        <div class="badges">
                            {% for key, member in memberNonHaveEducationDikbangspes %}
                            <span class="badge badge-light">{{ member.name }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- DATA DIKBANGSPES -->
<div class="card card-primary">
    <div class="card-header">
        <h4>DATA PENDIDIKAN DIKBANGSPES</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="card card-inside">
                    <div class="card-body text-center">
                        <h1><span class="text-success">{{ memberHaveEducationPolri.count }}</span> / <span class="text-muted">{{ allMember.count }}</span></h1>
                        <p class="lead text-muted mg-b-0">ANGKA TERHITUNG</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-inside">
                    <div class="card-body text-center">
                        {% set calc = (memberHaveEducationPolri.count / allMember.count * 100)|floor %}
                        <h1 class="{{ calc <= 50 ? 'text-danger' : 'text-success' }}">{{ calc ~ '%'}}</h1>
                        <p class="lead text-muted mg-b-0">ANGKA PERSENTASI</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card card-inside">
                    <div class="card-header">
                        <h4>NRP ANGGOTA BELUM MELENGKAPI DATA PENDIDIKAN POLRI PADA APLIKASI</h4>
                    </div>
                    <div class="card-body">
                        <div class="badges">
                            {% for key, member in memberNonHaveEducationPolri %}
                            <span class="badge badge-light">{{ member.name }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- DATA PANGKAT -->
<div class="card card-primary">
    <div class="card-header">
        <h4>DATA PANGKAT</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="card card-inside">
                    <div class="card-body text-center">
                        <h1><span class="text-success">{{ memberHaveGrade.count }}</span> / <span class="text-muted">{{ allMember.count }}</span></h1>
                        <p class="lead text-muted mg-b-0">ANGKA TERHITUNG</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-inside">
                    <div class="card-body text-center">
                        {% set calc = (memberHaveGrade.count / allMember.count * 100)|floor %}
                        <h1 class="{{ calc <= 50 ? 'text-danger' : 'text-success' }}">{{ calc ~ '%'}}</h1>
                        <p class="lead text-muted mg-b-0">ANGKA PERSENTASI</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card card-inside">
                    <div class="card-header">
                        <h4>NRP ANGGOTA BELUM MELENGKAPI DATA PANGKAT PADA APLIKASI</h4>
                    </div>
                    <div class="card-body">
                        <div class="badges">
                            {% for key, member in memberNonHaveGrade %}
                            <span class="badge badge-light">{{ member.name }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
