{% for position in positions %}
    <div class="card card-primary">
        <div class="card-header">
            <h4>{{ position.name }}</h4>
        </div>
        {% set poss = BaseStatistic.getMemberSection(position.id) %}
        {% if poss %}
            <div class="card-body pd-0">
                <table class="table table-bordered">
                    <tr>
                        <th>NAMA</th>
                        <th class="text-right">JABATAN</th>
                    </tr>
                    {% for pos in poss %}
                    <tr>
                        <td>{{ pos.member.name ?: 'Tidak ada Data' }}</td>
                        <td class="text-right">{{ pos.name }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
    </div>
{% endfor %}
