url       = "print"
layout    = "default"
is_hidden = 0

[AdminPrint]
==
function onEnd() {
    $this->page->activePage = 'admin-print';
    $this->page->title      = 'Buat Surat Cetak';
}
==
{% set members = AdminPrint.getMember() %}
{% set letters = AdminPrint.getLetter() %}

<form data-request="onGenerate" data-request-flash>
    <div class="card">
        <div class="card-header">
            <h4>I. DATA FORMULIR</h4>
        </div>
        <div class="card-body">
            <div class="form-group mg-b-0">
                <select name="letter_id" class="select2 form-control">
                    <option value="">-- Pilih --</option>
                    {% for letter in letters %}
                    <option value="{{ letter.id }}">{{ letter.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="card-header">
            <h4>II. DATA ANGGOTA</h4>
            <div class="ml-auto">
                <a href="#modalMember" data-toggle="modal" class="btn btn-primary">
                    <i class="fa fa-cursor"></i> PILIH ANGGOTA
                </a>
            </div>
        </div>
        <div class="card-body pd-0" data-target-member-lists>
            {% partial 'print/list-member-print' members=dd %}
        </div>
    </div>
</form>

<div class="modal fade" id="modalMember" tabindex="-1" role="dialog" aria-labelledby="modalMember" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100 text-center">DAFTAR ANGGOTA</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body pd-0">
                <form>
                    <div class="card card-primary mg-t-20">
                        <div class="card-header">
                            <div class="mr-auto">
                                <a href="#modalFilter" data-toggle="modal" class="btn btn-outline-primary">
                                    <i class="fa fa-filter"></i> SARING
                                </a>
                            </div>
                            <div class="ml-auto">
                                <button data-toggle="modal" class="btn btn-success"
                                    data-request="onInsertList"
                                    data-request-update="'print/list-member-print': '[data-target-member-lists]'"
                                    data-request-success="$('#modalMember').modal('hide')"
                                    data-attach-loading>
                                    MASUKAN KE DAFTAR
                                </button>
                            </div>
                        </div>
                        <div class="card-body pd-0 mg-b-0" data-target-members>
                            {% partial 'print/list-member' members=members %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalFilter">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header d-block">
                <ul class="nav nav-pills nav-justified" id="myTab3" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#tab-component" role="tab" aria-controls="home" aria-selected="true">KOMPONEN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-form" role="tab" aria-controls="profile" aria-selected="false">FORMULIR</a>
                    </li>
                </ul>
            </div>
            <div class="modal-body mg-b-0">
                <div class="tab-content" id="myTabContent2">
                    <div class="tab-pane fade show active" id="tab-component" role="tabpanel" aria-labelledby="home-tab3">
                        <form>
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h4>KOMPONEN PERSONAL</h4>
                                </div>
                                <div class="card-body">
                                    <div class="selectgroup selectgroup-pills">
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_personal[]" value="name,Nama" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Nama</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_personal[]" value="gender,Jenis Kelamin" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Jenis Kelamin</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_personal[]" value="nrp,NRP" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Nrp</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_personal[]" value="place,Tempat Lahir" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Tempat Lahir</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_personal[]" value="dob,Tanggal Lahir" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Tanggal Lahir</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_personal[]" value="blood,Golongan Darah" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Golongan Darah</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_personal[]" value="religion,Agama" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Agama</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_personal[]" value="marital,Status Perkawinan" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Status Perkawinan</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_personal[]" value="partner,Suami/Istri" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Suami/Istri</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_personal[]" value="child_total,Jumlah Anak" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Jumlah Anak</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_personal[]" value="nationality,Suku / Bangsa" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Suku / Bangsa</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_personal[]" value="skin_color,Warna Kulit" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Warna Kulit</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_personal[]" value="hair_color,Warna Rambut" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Warna Rambut</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_personal[]" value="hair_type,Jenis Rambut" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Jenis Rambut</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_personal[]" value="height,Tinggi Badan" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Tinggi Badan</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_personal[]" value="weight,Berat Badan" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Berat Badan</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_personal[]" value="uniform_head,Ukuran Kepala" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Ukuran Kepala</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_personal[]" value="uniform_feet,Ukuran Sepatu" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Ukuran Sepatu</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_personal[]" value="uniform_trousers,Ukuran Celana" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Ukuran Celana</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_personal[]" value="uniform_clothes,Ukuran Baju" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Ukuran Baju</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h4>KOMPONEN LAMPIRAN</h4>
                                </div>
                                <div class="card-body">
                                    <div class="selectgroup selectgroup-pills">
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_attachment[]" value="ktp,Kartu Tanda Penduduk" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Kartu Tanda Penduduk</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_attachment[]" value="kk,Kartu Keluarga" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Kartu Keluarga</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_attachment[]" value="finger,Sidik Jari" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Sidik Jari</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_attachment[]" value="asabri,Asabri" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Asabri</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_attachment[]" value="authority,Tanda Kewenangan" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Tanda Kewenangan</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_attachment[]" value="investigator,Registrasi Penyidik" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Registrasi Penyidik</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_attachment[]" value="member,Kartu Tanda Anggota" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Kartu Tanda Anggota</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_attachment[]" value="bpjs,BPJS" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">BPJS</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_attachment[]" value="kps,KPI/KPS/KARSU" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">KPI/KPS/KARSU</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_attachment[]" value="simsa,SIMSA" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">SIMSA</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h4>KOMPONEN UTAMA</h4>
                                </div>
                                <div class="card-body">
                                    <div class="selectgroup selectgroup-pills">
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_primary[]" value="language,Penguasaan Bahasa" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Penguasaan Bahasa</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_primary[]" value="sport,Penguasaan Olahraga" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Penguasaan Olahraga</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_primary[]" value="honor,Kehormatan / Jasa" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Kehormatan / Jasa</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_primary[]" value="education,Pendidikan Umum" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Pendidikan Umum</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_primary[]" value="education_polri,Pendidikan Polri" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Pendidikan Polri</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_primary[]" value="education_dikbangspes,Pendidikan Dikbangspes" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Pendidikan Dikbangspes</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_primary[]" value="training,Pelatihan" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Pelatihan</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_primary[]" value="duty,Penugasan Luar Negeri" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Penugasan Luar Negeri</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_primary[]" value="position,Jabatan" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Jabatan</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_primary[]" value="grade,Kepangkatan" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Kepangkatan</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_primary[]" value="work,Penugasan" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Penugasan</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="checkbox" name="component_primary[]" value="brivet,Brivet" class="selectgroup-input"
                                                data-request="onPutFilter"
                                                data-request-update="'print/form-filter': '[data-target-forms]'"
                                                data-request-success="initSelect2()"
                                                data-request-flash data-attach-loading>
                                            <span class="selectgroup-button">Brivet</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="tab-form" role="tabpanel" aria-labelledby="profile-tab3">
                        <div data-target-forms>
                            {% partial 'print/form-filter' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalRH">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100 text-center">RIWAYAT HIDUP</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body" data-target-rh>
                {% partial 'print/block-rh' %}
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
