url       = "print/result/:parameter"
layout    = "default"
is_hidden = 0

[AdminPrintResult]
parameter="{{ :parameter }}"
==
function onEnd() {
    $this->page->activePage = 'admin-print';
    $this->page->title      = 'Hasil Surat Cetak';
}
==
<div class="card">
    <div class="card-header">
        <div class="ml-auto">
            <button class="btn btn-primary"
                data-request="AdminPrintResult::onRegenerate"
                data-attach-loading data-request-flash>GENERATE ULANG</button>
        </div>
    </div>
    <div class="card-body pd-0">
        <table class="table">
            <tr>
                <td>Nama</td>
                <td>{{ result.name }}</td>
            </tr>
            {% for member in result.members %}
            <tr>
                <td>{{ member.member.name }}</td>
                <td>
                    <a href="{{ member.document.path }}" class="btn btn-primary" target="_blank">DOWNLOAD</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
